.columns {
margin-bottom: 48px;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.left .button-container,
.columns.left > div > div > p {
  text-align: left;
}

.columns.right .button-container,
.columns.right > div > div > p {
  text-align: right;
}

.columns.center .button-container,
.columns.center > div > div > p {
  text-align: center;
}

.columns.left .button-container> .align-icon {
  justify-content: left;
}

.columns.right .button-container > .align-icon {
  justify-content: right;
}

.columns.center .button-container > .align-icon {
  justify-content: center;
}


.columns .image {
    margin-bottom: 24px;
}

.columns .button {
    margin-top: 32px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns .image {
    margin-bottom: 20px;
  }

  .columns .button {
    margin-top: 24px;
  }

}
