.icon-link-list-container .icon{
    margin-right: 12px;
    width: 28px;
    height: 32px;
}

.icon-link-list-container .icon .icon-container
{
    display: inline-flex;
}

.icon-link-list-container .icon .icon-container img{
    height: 28px;
    width: auto;
}