/* header and nav layout */
header {
  min-width: 100%;
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 1.5em;
  height: 84px;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
  align-items: baseline;
}

header.transparent .nav-wrapper .logo-wrapper .white-image {
  display: none;
}

header.white-background .nav-wrapper .logo-wrapper .white-image {
  display: block;
}

header.transparent .nav-wrapper .logo-wrapper .grey-image {
  display: block;
}

header.transparent .subnavigation-text-wrapper {
  display: none;
}

header.white-background .nav-wrapper .logo-wrapper .grey-image {
  display: none;
}


/* Mobile */

@media (width >= 360px) and (width < 768px) {
  header nav { 
    height: 68px;
    display: block;
  }

  .logo-wrapper img {
    width: 36px;
    height: 36px;
  }
  
  .header nav[aria-expanded="true"] .nav-brand .subnavigation-text-wrapper + .menu-link-wrapper::before {
    position: absolute;
    width: 100%;
    left: 0%;
    border-top: 1px solid var(--light-bbb);
    content: " ";
    top: -30px;
  }

  header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 22px;
    position: absolute;
    top: -5px;
    right: -4px;
  }

  header nav[aria-expanded="false"] .nav-hamburger button {
    position: absolute;
    right: 1.5rem;
    top: 25px;
  }

  header nav[aria-expanded="true"] .icon-location {
    display: none;
  }

  header nav[aria-expanded="false"] .icon-search {
    position: absolute;
    right: 70px;
    top: 33px;
  }

  header nav[aria-expanded="true"] .icon-search {
    display: none;
  }

  header .nav-wrapper {
    position: relative;   
  }

  header nav[aria-expanded="false"] .logo-wrapper {
    position: absolute;
    top: 20px;
    left: 22px;
  }

  header nav[aria-expanded="false"] .menu-link-wrapper {
    display: none;
  }

  header nav[aria-expanded="true"] .menu-link-wrapper,
  header nav[aria-expanded="true"] .menu-flyout-wrapper
  {
    display: block;
    position: relative;
    top: 100px;
    padding: .55rem 3.5rem;
    font-weight: 700;
  }

  header nav[aria-expanded="true"] .menu-link-wrapper a,  
  header nav[aria-expanded="true"] .menu-flyout-wrapper{
   color: var(--light-border-color);
   text-decoration: none;
  }

  header nav[aria-expanded="true"] .logo-wrapper {
      position: absolute;
      top: 20px;
      left: 22px;
    }

  header nav .nav-brand img {
    width: 36px;
    height: 36px;
  }

  header nav[aria-expanded="true"] {
    margin: 0;
  }

  header nav[aria-expanded="true"] .nav-hamburger {
    position: absolute;
    right: 27px;
    top: 30px;
  }
 
  header .section.nav-tools .icon img {
    height: 20px;
    width: 20px;
  }

  header nav[aria-expanded="true"] .section.nav-tools .icon img {
    left: 125px;
    top: 3px;
  }

  header nav .section .default-content-wrapper ul li {
    padding: 12px 0;
    color: var(--light-border-color);
    font-size: 16px;
  }

  header nav .section .default-content-wrapper .button-container a.button {
    color:  var(--light-border-color);
    background-color: transparent;
    padding: 12px 0;
    margin: 0;
    font-weight: 700;
    line-height: 24px;
  }

  header nav .section ul, header nav .section p {
    width: 83.3333%;
    margin: 0 auto;
  }

  .header nav .section .default-content-wrapper {
    padding: 1.75rem 1.5rem 0;
  }

  header.white-background .subnavigation-text-wrapper {
    display: none;
  }

  header.header-wrapper.white-background {
    position: absolute;
    background: transparent;
    width: 100%;
  }

  header.header-wrapper.white-background  nav[aria-expanded="false"] .nav-hamburger button {
    background-color: transparent;
    color : var(--background-color);
  }

  header.header-wrapper.white-background .nav-wrapper {
    background-color: transparent;
  }

  header.header-wrapper.white-background .nav-wrapper nav[aria-expanded="true"] {
    background-color: var(--background-color);   
  }

  header.header-wrapper.white-background nav[aria-expanded="true"] .logo-wrapper .grey-image {
    display: block;
  }

  header.header-wrapper.white-background nav[aria-expanded="true"] .logo-wrapper .white-image {
    display: none;
  }

  header nav[aria-expanded="false"] .nav-tools .default-content-wrapper .icon-location {
    display: none;
   }

   header nav .icon-link-list-container .icon-container .search {
    position: absolute;
    top: 27px;
    right: 70px;
   }

   header nav[aria-expanded="true"] .icon-link-list-container .icon-container .search {
   display: none;
   }

   header nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
  }

  header.white-background nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--background-color);
    font-weight: 400;
  }
}

/* IPAD */
@media (width >= 768px) and (width < 1280px) {
  .header nav[aria-expanded="true"] .nav-brand .subnavigation-text-wrapper + .menu-link-wrapper::before {
    position: absolute;
    width: 106%;
    left: -5%;
    border-top: 1px solid var(--light-bbb);
    content: " ";
    top: -35px;
  }

  header nav[aria-expanded="false"] .logo-wrapper,
  header nav[aria-expanded="true"] .logo-wrapper {
    position: absolute;
    top: 0;
    left: 45px;
  }
  
  header nav[aria-expanded="false"] {
    height: 85px;
  }

  header nav[aria-expanded="true"] {
    min-height: 100vh;
    align-items: baseline;
    background: var(--background-color);
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    transition: left .65s cubic-bezier(0,.5,.5,1);
  }

  header nav .nav-brand .logo-wrapper img {
    width: 52px;
    height: 52px;
  }
  
  header nav[aria-expanded="false"] .nav-hamburger button {
    position: absolute;
    right: 3.5rem;
  }

  header nav[aria-expanded="true"] .nav-hamburger button {
    position: absolute;
    right: 3.5rem;
  }
  
  header nav .section .default-content-wrapper .button-container a.button {
    color: var(--light-border-color);
    background-color: transparent;
    padding: 12px 0;
    margin: 0;
    font-weight: 700;
    line-height: 24px;
  }

  header nav[aria-expanded="false"] .menu-link-wrapper{
    display: none;
  }
  
  header nav[aria-expanded="true"] .menu-link-wrapper,
  header nav[aria-expanded="true"] .menu-flyout-wrapper {
    display: block;
    position: relative;
    top: 120px;
    padding: .55rem 7rem;
    font-weight: 700;
    color: var(--light-border-color);
  }

  header nav[aria-expanded="true"] .menu-link-wrapper a {
    color: var(--light-border-color);
    padding: 12px 0;
    font-size: 16px;
  }

  header nav[aria-expanded="false"] .nav-tools .default-content-wrapper .icon-search {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 90px;
    top: 33px;
  }

  header nav[aria-expanded="false"] .nav-tools .default-content-wrapper .icon-location {
   display: none;
  }

  header nav[aria-expanded="true"] .logo-wrapper .bmw-logo img {
    position: absolute;
    top: 15px;
  }

  header nav[aria-expanded="true"] .nav-hamburger-icon {
    top: 33px;
    width: 20px;
    right: 0;
  }
 
  header.white-background .subnavigation-text-wrapper{
    display: none;
  }

  header nav[aria-expanded="true"] .nav-tools .default-content-wrapper .icon-search, header nav[aria-expanded="true"] .nav-tools .default-content-wrapper .icon-location {
    display: none;
  }

  header nav[aria-expanded="true"] .nav-tools .default-content-wrapper .icon-location {
    display: none;
  }

  header.header-wrapper.white-background {
    position: absolute;
    background: transparent;
    width: 100%;
  }

  header.header-wrapper.white-background  nav[aria-expanded="false"] .nav-hamburger button {
    background-color: transparent;
    color : var(--background-color);
  }

  header.header-wrapper.white-background .nav-wrapper {
    background-color: transparent;
  }

  header.header-wrapper.white-background .nav-wrapper nav[aria-expanded="true"] {
    background-color: var(--background-color);   
  }

  header.header-wrapper.white-background nav[aria-expanded="true"] .logo-wrapper .grey-image {
    display: block;
  }

  header.header-wrapper.white-background nav[aria-expanded="true"] .logo-wrapper .white-image {
    display: none;
  }

  header nav .icon-link-list-container .icon-container .search {
    position: absolute;
    top: 33px;
    right: 100px;
   }

   header nav[aria-expanded="true"] .icon-link-list-container .icon-container .search {
   display: none;
   }
 
  header nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
  }

  header.white-background nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--background-color);
    font-weight: 400;
  }

  header nav[aria-expanded="false"] .menu-flyout-wrapper {
    display: none;
}

header nav[aria-expanded="true"] .menu-flyout-wrapper .flyout-wrapper {
    display: none;
}

header nav[aria-expanded="true"] .menu-flyout-wrapper::after {       
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: " arrow_chevron_right";
    direction: ltr;
    display: block;
    font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
    position: absolute;
    right: 50px;
    top: 12px;
}
  
}

/* Desktop  */
@media (width >= 1280px) {
  header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
    border-bottom: 1.5px solid var(--light-bbb);
    padding: 0;
  }
  
  header nav .menu-link-container {
    position: relative;
    width: 100%;
    justify-content: baseline;
  }
  
  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
    align-items: center;
  }

  header nav[aria-expanded="true"] .icon-location {
    position: relative;
    right: 0;
    top: 0;
  }

  header nav[aria-expanded="true"] .logo-wrapper .bmw-logo img {
    position: relative;
  }

  header nav[aria-expanded="true"] .icon-search {
    position: relative;
    right: 0;
    top: 0; 
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav[aria-expanded="true"] .section {
    position: absolute;
    top: 0;
    height: unset;
    overflow:unset;
    background-color: transparent;
    width: auto;
    left: 120px;
    padding: 0 45px;
    border-top: none;
  }

  /** css for variation in header with white logo **/
  header.header-wrapper.white-background {
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 999;
  }

  header.header-wrapper.white-background .nav-wrapper {
    background-color: transparent;
  }

  header.white-background nav .section .menu-link-wrapper a,
  header.white-background nav .section .menu-flyout-wrapper span{
  color: var( --background-color);
  }

  header.white-background nav .section .menu-link-wrapper p.button-container a {
    color: var( --background-color);
  }

  header.white-background .subnavigation-text-wrapper {
    position: absolute;
    top: 100px;
    color: var( --background-color);
    font-family: bmwTypeNextWeb,Arial,Helvetica,Roboto,sans-serif;
    font-size: 16px;
    display: block;
    left: 0;
  }

  header.white-background .subnavigation-text-wrapper p {
    margin: 0;
  }

  header.white-background .subnavigation-text-wrapper strong{
    font-weight: 700;
    
  }

  header.white-background nav {
    border-bottom: 1.5px solid var(--background-color)
  }

  header nav .icon-link-list-container .icon-link-list-container .icon .icon-container,
  header.header-wrapper.white-background nav .icon-link-list-container .icon-link-list-container .icon .icon-container
  {
    padding: 27px .75rem;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
  }

  header.header-wrapper nav .icon-link-list-container .icon-link-list-container .icon .icon-container:hover{
    border-bottom: .25rem solid var(--light-link-hover-color);
    border-top: .25rem solid transparent;
    color:transparent;
  }

  header.header-wrapper.white-background nav .icon-link-list-container .icon-link-list-container .icon .icon-container:hover{
    border-bottom: .25rem solid var(--light-link-hover-color);
    border-top: .25rem solid transparent;
    color:transparent;
  }

  header nav .icon-link-list-container .icon-container .location::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "location_pin";
    direction: ltr;
    display: block;
    font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
  }
 
  header nav .icon-link-list-container .icon-container .search::before {    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "search";
    direction: ltr;
    display: block;
    font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color: var(--light-border-color);
    font-weight: 400;
  } 

  header.header-wrapper.white-background nav .icon-link-list-container .icon-container .location::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "location_pin";
    direction: ltr;
    display: block;
    font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color : var(--background-color);
    font-weight: 400;
  }
 
  header.header-wrapper.white-background nav .icon-link-list-container .icon-container .search::before { 
    content: "search";
    direction: ltr;
    display: block;
    font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
    font-style: normal;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizelegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    font-size: 1.25rem;
    color : var(--background-color);
    font-weight: 400;
  }
 
   
  header.header-wrapper nav .nav-brand .icon-link-list-wrapper {
    position: absolute;
    right: 0;
    top: 30px;
  }

  header.header-wrapper nav .nav-brand .icon-link-list-wrapper .icon-link-list-container .icon {
    margin-right: 1.88rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  header.header-wrapper nav .nav-brand .icon-link-list-wrapper .icon-link-list-container .icon .search {
   position: relative;
   left: 5px;
  }

  /* css for flyout */

  .flyout-main-container {
   background-color: var(--background-color);
   position: absolute;
   left: 0;
   right: 0;
   top: 80px;
   display: none;
   padding: 3.125rem 0;
   transition: top 0.65s ease;
  }

  .showfly .flyout-main-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* max-height: calc(100vh - 69px); */
    overflow: hidden;
    position: absolute;
    top: 5.25rem;
    width: 100vw;
    left: -6rem;
    transition: top 0.65s ease;
  }

}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--light-border-color);
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

header nav[aria-expanded="true"] .section {
  display: block;
  visibility: visible;
  align-self: start;
}


@media (width >= 1280px) {
  header nav .nav-brand picture {
    width: 52px;
    height: 52px;
    display: block;
  }
  
  header nav .nav-brand img {
    width: 52px;
    height: 52px;
  }

  header nav .section {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .section {
    align-self: unset;
  }

  header nav .section .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .section .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .section .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .menu-link-container {
    display: flex;
    align-items: center;
  }
 
  header nav .logo-wrapper{
    margin-right: 24px;
    position: relative;
    top:0.5px;
  }
  
  
  header nav .menu-link-wrapper .menu-link a,
  header nav .menu-flyout-wrapper .menu-flyout-link {
    padding: 27px 0;
    text-decoration: none;
    margin: 0 12px;
    flex: 0 1 auto;
    position: relative;
    font-weight: 700;
    color:  var(--light-border-color);
    font-size: 1rem;
    cursor: pointer;
  }

  header nav .menu-link-wrapper .menu-link  a:hover,
  header nav .menu-flyout-wrapper .menu-flyout-link:hover {
    border-bottom: .25rem solid var(--light-link-hover-color);
    color: var( --light-text-color);
  }

  .header-wrapper.white-background .menu-link-wrapper .menu-link a:hover {
    border-bottom: .25rem solid var(--light-link-hover-color);
    cursor: pointer;
    color: var(--background-color);
  }

  header nav .nav-tools .default-content-wrapper .icon {
    cursor: pointer;
    padding: 30px 15px;
    width: 20px;
    height: 20px;
  }
}


/* mobile */
@media (width < 768px) {
  header nav {
    margin: 0 24px;
    padding: 0;
  } 
}

/* tablet */
@media (width >= 768px){
  header nav {
    margin: 0 48px;
    padding: 0;
  } 
}

/* desktop */
@media (width >= 1280px){
  header nav {
    margin: 0 96px;
  } 
}

/* large desktop */
@media (width >= 1920px){
  header nav {
    max-width: var(--max-component-width);
    margin-left: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
    margin-right: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
  }

  header nav[aria-expanded="true"] .section {
    left: calc(100vw - (var(--max-component-width) - (45px + 96px)));
  }
}
