.section.flexible-width-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 0;
  grid-template-areas: "leftEmpty content rightEmpty";
}

.section.flexible-width-section > div {
  grid-area: content;
}
.section.flexible-width-section.grid-8 {
 /* 8/12 = 66.66% */
  grid-template-columns: 1fr 4fr 1fr;
}

.section.flexible-width-section.grid-6 {
 /* 6/12 = 50% */
  grid-template-columns: 1fr 2fr 1fr;
}

.section.flexible-width-section.grid-10 {
  /* 10/12 = 83.33% */
  grid-template-columns: 1fr 10fr 1fr;
}

.section.center.flexible-width-section {
  text-align: center;
  justify-content: center;
}

.section.left.flexible-width-section {
  text-align: left;
  justify-content: left;
}

.section.right.flexible-width-section {
  text-align: right;
  justify-content: right;
}

@media (width >=768px) and (width < 1280px) {
  .section.flexible-width-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0;
    grid-template-areas: "leftEmpty content rightEmpty";
  }

  .section.flexible-width-section.grid-8 {
    /* 8/12 = 66.66% */
     grid-template-columns: 1fr 4fr 1fr;
   }
   
   .section.flexible-width-section.grid-6 {
    /* 6/12 = 50% */
     grid-template-columns: 1fr 2fr 1fr;
   }
   
   .section.flexible-width-section.grid-10 {
     /* 10/12 = 83.33% */
     grid-template-columns: 1fr 10fr 1fr;
   }
}

@media (width >=360px) and (width < 768px) {
  .section.flexible-width-section.grid-10,
  .section.flexible-width-section.grid-8,
  .section.flexible-width-section.grid-6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }
}