main .text-image-container > div {
  max-width: unset;
}
  
main .text-image-container {
  padding: 30px;
}

.text-image {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.text-image p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: grey;
}

/**
.text-image picture {
  max-width: 600px;
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.text-image img {
  object-fit: cover;
  width: 50%;
  height: 100%;
}

**/
.text-image img {
  width: 800px;
  height: 350px;
}

.text-image .foreground .text{
  font-weight: 900;
  font-size: xxx-large;
}
