footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .vertical-link-text-wrapper .vertical-link-text ul, .horizontal-link-text ul,
h3 {
  margin: 0 0 3rem 0;
  padding: 0;
}
footer .vertical-link-text-wrapper .vertical-link-text ul {
  display: flex;
  flex-direction: column;
}

footer .vertical-link-text-wrapper .vertical-link-text ul li:not(:last-child) {
  margin-bottom: .75rem;
}
footer .vertical-link-text h3, .horizontal-link-text h3{
  display: block;
  font-size: .625rem;
  font-weight: 300;
  letter-spacing: var(--letter-spacing-eyebrow3);
  line-height: .75rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;

}
footer .horizontal-link-text h3 {
  padding-top: .25rem;
  margin-right: 2rem;
  margin-bottom: .75rem;
  white-space: nowrap;
  width: auto;
}
footer ul li {
  list-style: none;
}

footer .vertical-link-text  ul li a, .horizontal-link-text ul li a {
  border: 0;
  background: transparent;
  color: #4d4d4d;
  box-shadow: none;
  cursor: pointer;
  display: inline;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin: 0;
  text-decoration: none;
}
footer .vertical-link-text-wrapper, .horizontal-link-text-wrapper {
  padding: 0 .75rem;
}
footer .horizontal-link-text-wrapper .horizontal-link-text > div > div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .25rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
footer .vertical-link-text-wrapper .vertical-link-text h3 {
  display: block;
  font-size: .625rem;
  font-weight: 300;
  letter-spacing: var(--letter-spacing-eyebrow3);
  line-height: .75rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  footer .vertical-link-text-wrapper .vertical-link-text h3 {
    padding: 0 1.5rem 0 0;
  }
  footer .horizontal-link-text-wrapper .horizontal-link-text h3 {
    padding: 0 1.5rem 0 0;
  }
  footer .horizontal-link-text-wrapper .horizontal-link-text > div > div {
    display: block;
    padding: 0;
    margin: 0;
  }
  footer .vertical-link-text-wrapper .vertical-link-text h3::after,.horizontal-link-text-wrapper .horizontal-link-text h3:after  {
    content: '';
    position: absolute;
    right: 0;
    top: .625rem;
    transform: translate(25%, -50%);
    transition: transform .5s ease-in-out;
    transform: translate(25%, -50%) rotate(-180deg);
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    content: "arrow_chevron_down";
    direction: ltr;
    display: block;
    font-family: bmw_next_icons;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    line-height: 1;
    outline: 1px solid transparent;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    width: auto;
  }

  footer>div li:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  footer .vertical-link-text-wrapper .vertical-link-text ul, .horizontal-link-text ul {
    margin-bottom: 2.5rem;
    padding-bottom: .5rem;
    margin-top: -.5rem;
    overflow: hidden;
    padding: .5rem 0 0 1rem;
    transition: max-height .25s ease
  }

  footer div>div:nth-child(2) ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .25rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

}

footer .vertical-link-text, .horizontal-link-text ul li {
  list-style: none;
}

footer .columns-wrapper .columns>div {
  align-items: start;
  padding: 0 .75rem;
}
footer .horizontal-link-text-container .default-content-wrapper p {
  font-size: .75rem;
  font-weight: 300;
  line-height: 1rem;
}

