footer .footer-white-bg{
  background-color: var(--background-color); 
}

footer .footer-grey-bg{
  background-color: var(--light-grey);
}

footer .footer .section{
  padding: 2rem 4rem 1.25rem;
}

footer .footer .section:first-child {
  border-top: 1px solid var(--light-grey);
  padding-bottom: 2rem;
}

footer .footer .section:nth-child(2) {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

footer .footer .section:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal {
  width: auto;
  padding: 0 0.5rem;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-title{
  margin: 0;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail {
  text-align: center;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li {  
  margin:0 0.375rem 0.75rem;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li a{
  font-size: 0.75rem;
  line-height: 1rem;
}

footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li:last-child {
  margin-right: 0;
}

/* tablet */
@media (width >= 768px){
  footer .footer .section {
    padding: 2rem 3rem 1.25rem;
  }

  footer .footer .section:first-child {
    padding-bottom: 1.25rem;
  }
  
  footer .footer .section:nth-child(2) {   
    padding-bottom: 2rem;
  }

  footer .footer .section:nth-child(2) .link-list-wrapper.vertical:nth-child(even) .link-list.block {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  footer .footer .section:nth-child(2) .link-list-wrapper.vertical:nth-child(odd) .link-list.block {
    padding-left: 0;
    padding-right: 0.75rem;
  }

  footer .footer .section:nth-child(2) .link-list-wrapper.vertical .link-list-detail ul {
    margin-bottom: 4.25rem;
  }

  footer .footer .section:nth-child(3) {
    display: flex;
    gap: 0;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 2.25rem;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal {   
    padding: 2rem 0.75rem;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail {
    padding-left: 0;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul
  {
    display: block;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li {  
    margin:0;    
    margin-right: 2rem;
    margin-left: 4px;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li:not(:first-child){
    margin-left: -5px;
  }
}

/* desktop */
@media (width >= 1280px) {
  footer .footer .section {
    padding: 2rem 6rem 1.25rem;
  }
  
  footer .footer .section:nth-child(2) {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  footer .footer .section:nth-child(3) {
    padding: 2rem 6rem;
    gap: 2rem;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal {   
    padding: 0;
  }
  
  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul
  {
    display: block;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li {  
    margin:0;    
    margin-right: 2rem;
    margin-left: -5px;
  }
}

/* large desktop */
@media (width >= 1920px){
  footer .footer .section {
    max-width: var(--max-component-width);
    padding-left: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
    padding-right: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
  }

  footer .footer .section:nth-child(3) {
    gap: 2rem;
    padding: 2rem calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal {   
    padding: 0 0.75rem;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul
  {
    display: block;
  }

  footer .footer .section:nth-child(3) .link-list-wrapper.horizontal .link-list-detail ul li {  
    margin:0;    
    margin-right: 2rem;
    margin-left: -5px
  }
}
