
@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: bold;
  src: url(
    ../fonts/BMWTypeNext-Light.woff2) format("woff2"),url(
      ../fonts/BMWTypeNext-Light.woff2) format("woff")
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 400;
  src: url(../fonts/BMWTypeNext-Regular.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 700;
  src: url(../fonts/BMWTypeNext-Bold.woff2) format("woff2"),url(../fonts/BMWTypeNext-Bold.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: bmw_next_icons;
  font-weight: 300;
  src: url(../fonts/bmw_next_icons_light.woff2) format("woff2"),url(../fonts/bmw_next_icons_light.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: bmw_next_icons;
  font-weight: 400;
  src: url(../fonts/bmw_next_icons_regular.woff2) format("woff2"),url(../fonts/bmw_next_icons_regular.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 300;
  src: url(../fonts/BMWTypeNextLightLatinExtended.woff2) format("woff2"),url(../fonts/BMWTypeNextLightLatinExtended.woff) format("woff");
  unicode-range: u+0100-017f,u+0180-024f
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 400;
  src: url(../fonts/BMWTypeNextRegularLatinExtended.woff2) format("woff2"),url(../fonts/BMWTypeNextRegularLatinExtended.woff) format("woff");
  unicode-range: u+0100-017f,u+0180-024f
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 700;
  src: url(../fonts/BMWTypeNextBoldLatinExtended.woff2) format("woff2"),url(../fonts/BMWTypeNextBoldLatinExtended.woff) format("woff");
  unicode-range: u+0100-017f,u+0180-024f
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 300;
  src: url(../fonts/BMWTypeNextLightGreek.woff2) format("woff2"),url(../fonts/BMWTypeNextLightGreek.woff) format("woff");
  unicode-range: u+0370-03ff
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 400;
  src: url(../fonts/BMWTypeNextRegularGreek.woff2) format("woff2"),url(../fonts/BMWTypeNextRegularGreek.woff) format("woff");
  unicode-range: u+0370-03ff
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 700;
  src: url(../fonts/BMWTypeNextBoldGreek.woff2) format("woff2"),url(../fonts/BMWTypeNextBoldGreek.woff) format("woff");
  unicode-range: u+0370-03ff
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 300;
  src: url(../fonts/BMWTypeNextLightCyrillic.woff2) format("woff2"),url(../fonts/BMWTypeNextLightCyrillic.woff) format("woff");
  unicode-range: u+04??
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 400;
  src: url(../fonts/BMWTypeNextRegularCyrillic.woff2) format("woff2"),url(../fonts/BMWTypeNextRegularCyrillic.woff) format("woff");
  unicode-range: u+04??
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 700;
  src: url(../fonts/BMWTypeNextBoldCyrillic.woff2) format("woff2"),url(../fonts/BMWTypeNextBoldCyrillic.woff) format("woff");
  unicode-range: u+04??
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 300;
  src: url(../fonts/BMWTypeWebLightAllArabic.woff2) format("woff2"),url(../fonts/BMWTypeWebLightAllArabic.woff) format("woff");
  unicode-range: u+06??,u+fb50-fdff,u+fe70-feff
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 700;
  src: url(../fonts/BMWTypeWebBoldAllArabic.woff2) format("woff2"),url(../fonts/BMWTypeWebBoldAllArabic.woff) format("woff");
  unicode-range: u+06??,u+fb50-fdff,u+fe70-feff
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 300;
  src: url(../fonts/BMWTypeWebLightAllThai.woff2) format("woff2"),url(../fonts/BMWTypeWebLightAllThai.woff) format("woff");
  unicode-range: u+0e00-0e7f,u+e000-f8ff
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 700;
  src: url(../fonts/BMWTypeWebBoldAllThai.woff2) format("woff2"),url(../fonts/BMWTypeWebBoldAllThai.woff) format("woff");
  unicode-range: u+0e00-0e7f,u+e000-f8ff
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 300;
  src: url(../fonts/BMWTypeWebLightAllVietnamese.woff2) format("woff2"),url(../fonts/BMWTypeWebLightAllVietnamese.woff) format("woff");
  unicode-range: u+1e??
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 700;
  src: url(../fonts/BMWTypeWebBoldAllVietnamese.woff2) format("woff2"),url(../fonts/BMWTypeWebBoldAllVietnamese.woff) format("woff");
  unicode-range: u+1e??
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 300;
  src: url(../fonts/BMWTypeNextLightKr.woff2) format("woff2"),url(../fonts/BMWTypeNextLightKr.woff) format("woff");
  unicode-range: u+ac00-d7a3
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 500;
  src: url(../fonts/BMWTypeNextRegularKr.woff2) format("woff2"),url(../fonts/BMWTypeNextRegularKr.woff) format("woff");
  unicode-range: u+ac00-d7a3
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 700;
  src: url(../fonts/BMWTypeNextBoldKr.woff2) format("woff2"),url(../fonts/BMWTypeNextBoldKr.woff) format("woff");
  unicode-range: u+ac00-d7a3
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 300;
  src: url(../fonts/BMWTypeNextProHebrew-Light.woff2) format("woff2"),url(../fonts/BMWTypeNextProHebrew-Light.woff) format("woff");
  unicode-range: U+0590-U+05FF,U+FB1D-U+FB4F
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 500;
  src: url(../fonts/BMWTypeNextProHebrew-Regular.woff2) format("woff2"),url(../fonts/BMWTypeNextProHebrew-Regular.woff) format("woff");
  unicode-range: U+0590-U+05FF,U+FB1D-U+FB4F
}

@font-face {
  font-display: swap;
  font-family: bmwTypeNextWeb;
  font-weight: 700;
  src: url(../fonts/BMWTypeNextProHebrew-Bold.woff2) format("woff2"),url(../fonts/BMWTypeNextProHebrew-Bold.woff) format("woff");
  unicode-range: U+0590-U+05FF,U+FB1D-U+FB4F
} 

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} 

:root {
  --letter-spacing-eyebrow1: .175rem;
  --letter-spacing-eyebrow2: .125rem;
  --letter-spacing-eyebrow3: .125rem
}

[lang=ar],[lang^=ar-] {
  --letter-spacing-eyebrow1: 0;
  --letter-spacing-eyebrow2: 0;
  --letter-spacing-eyebrow3: 0
}

body,html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262626;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;;
  font-size: 1pc;
  font-weight: 300;
  line-height: 1.5rem;
  text-rendering: optimizeSpeed;
}

