/* stylelint-disable property-no-vendor-prefix */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --medium-text-color:#4d4d4d;
  --light-border-color: #666;
  --light-text-color: #262626;
  --light-link-hover-color: #1c69d4;
  --light-grey: #f6f6f6;
  --light-bbb: #bbb;  
  --fixed-font-family: bmwtypenextweb,arial,helvetica,roboto,sans-serif;

  /* base font size */
  --base-font-size: 16px;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

  /* breakpoints */
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1280px;
  --breakpoint-large-desktop: 1920px;

  /* maximum width */
  --max-component-width:1920px;

  /* section padding */
  --section-mobile-padding:24px;
  --section-tablet-padding:48px;
  --section-desktop-padding:96px;
}


@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body.appear {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: var(--base-font-size);
}

body {
  background-color: var(--background-color);
}

main {
  flex: 1;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--fixed-font-family);
  font-weight: 300;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a,b, body strong {
  font-weight: 700;
}

a:any-link {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--fixed-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 15px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

button,input{
  overflow:visible
}

button,select{
  text-transform:none
}

button,[type="button"],[type="reset"],[type="submit"]{
  -webkit-appearance: button;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{
  border-style:none;
  padding:0
}

button,input,optgroup,select,textarea{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.ghost-dark,
a.button.ghost-dark-flex {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: var(--fixed-font-family);
  text-align: center;
  padding: 4px 24px;
  min-height: 3.25rem;
  align-content: center;
}

a.button.ghost-dark.button-fixed-width {
  width: auto;
  min-width: auto;
  white-space: normal;
}

a.button.ghost-dark-flex.button-flex-width {
  max-width: 75vw;
  width: auto;
}

a.button.ghost-dark:hover,
a.button.ghost-dark-flex:hover {
  border: 2px solid var(--text-color);
  font-weight: bold;
}

a.button.hyperlink {
  background: transparent;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: rgb(38 38 38 / 100%);
  font-weight: 700;
  font-family: var(--fixed-font-family);
}

.align-icon {
  display: flex;
  padding: 10px;
}

.button-container > .align-icon:hover,
a.button.hyperlink:hover {
  color: var(--link-hover-color);
  font-weight: bold;
}

.icon-gt::after {
  font-size: 24px;
  font-weight: 500;
  word-wrap: normal;
  font-feature-settings: "liga";
  content: attr(data-icon);
  direction: ltr;
  display: block;
  font-style: normal;
  font-family: "bmw_next_icons", arial,helvetica,roboto,sans-serif;
  height: 1em;
  line-height: 1;
  outline: 1px solid transparent;
  text-align: left;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
  width: auto;
}

.align-icon > .align-center {
  align-self: center;
  margin: 3px 0 0 3px;
}

.button-container.button-align-right > .align-icon {
  justify-content: end;
}

.button-container.button-align-left > .align-icon {
  justify-content: left;
}

.button-container.button-align-center > .align-icon {
  justify-content: center;
}

.section.alignment-center > div.default-content-wrapper > p {
  text-align: center;
}

.section.alignment-left > div.default-content > p {
  text-align: left;
}

.section.alignment-right > div.default-content-wrapper > p {
  text-align: right;
}

.section.alignment-center > .columns-wrapper > .columns > div > div > p,
.section.alignment-center > .columns-wrapper > .columns > .button-container.button-align-center {
  text-align: center;
}

.section.alignment-left > .columns-wrapper > .columns > div > div > p,
.section.alignment-left > .columns-wrapper > .columns > .button-container.button-align-left {
  text-align: left;
}

.section.alignment-right > .columns-wrapper > .columns > div > div > p,
.section.alignment-right > .columns-wrapper > .columns > .button-container.button-align-right {
  text-align: right;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  max-width: var(--max-component-width);
  padding: 20px var(--section-mobile-padding);
}

/* tablet */
@media (width >= 768px){
  main .section {
    padding: 20px var(--section-tablet-padding);
  }
}

/* desktop */
@media (width >= 1280px){
  main .section {
    padding: 20px var(--section-desktop-padding);
  }
}

/* large-desktop */
@media (width >= 1920px){
  main .section {   
    max-width: 100vw;
    padding-left: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
    padding-right: calc((100vw - (var(--max-component-width) - (var(--section-desktop-padding) * 2 )))/2);
  }
}



/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

fieldset{
  padding:.35em .75em .625em
}

legend{
  box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
}

progress{
  vertical-align:baseline
}

textarea{
  overflow:auto
}

[type="checkbox"],[type="radio"]{
  box-sizing:border-box;
  padding:0
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{
  height:auto
}

[type="search"]{
  -webkit-appearance: textfield;
  outline-offset:-2px
}

[type="search"]::-webkit-search-decoration{
  -webkit-appearance: none;
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit
}

[hidden]{
  display:none
}